{% extends "basis.html" %}
{% block content %}
	<p class="my-lead">{{user.username}}</p>
    <h3>Tip: if you don't want to change field - leave it blank</h3>
<form action="{% url 'profile' %}" method="post">
	{%csrf_token%}
{% for field in form %}
	<div class="col-md-4">
		<div>
			<label class="my-label"> {{field.label}}</label>
		</div>
	</div>
	<div class="col-md-4">
		<div class="input-group">
            {{field}}
		</div>
	</div>
    <div class="col-md-4">
        <div>
            <label>{{field.errors}}</label>
        </div>
    </div>

	<div class="divider"> </div>
{% endfor %}
		<button type="submit" class="btn btn-lg btn-success btn-register">Edit!</button>
</form>
{% endblock %}<!DOCTYPE html>
